{% extends "base.html" %}
{% block content %}


<script type="text/javascript" src="/static/js/jquery-3.6.4.min.js"></script>

<!-- DataTables Local Files -->
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="/static/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<!-- DataTables Local Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>

<!-- DataTables Buttons CDN -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>


<script>
$(document).ready(function () {
    $.noConflict();
    var table = $('#ogrenciTablosu').DataTable();
});
   $(document).ready(function() {
      $('#ogrenciTablosu').DataTable({
          "dom": '<"top"Blf>rt<"bottom"ip><"clear">',
         "paging": true,
         "ordering": true,
         "searching": true,
          "bDestroy": true,
          "language": {
             "paginate": {
      "previous": "Önceki",
      "next": "Sonraki"
    },
             "search": "Ara:",
    "lengthMenu": "Sayfada _MENU_ kayıt göster",
    "zeroRecords": "Hiçbir sonuç bulunamadı.",
    "info": "Sayfa _PAGE_ / _PAGES_ gösteriliyor",
    "infoEmpty": "Kayıt bulunmuyor",
    "infoFiltered": "(_MAX_ toplam kayıttan süzüldü)"
  },
          "buttons": [
        {
          extend: 'copy',
          text: 'Kopyala',
          exportOptions: {
            columns: ':visible', // Görünür sütunları kopyala
            modifier: {
              columns: [6] // İşlem sütununu gizle
            }
          },
          customize: function(win) {
            $(win.document.body).find('table').find('th:eq(6), td:eq(6)').remove(); // PDF ve Excel çıktısından İşlem sütununu gizle
          }
        },
        {
          extend: 'excel',
          text: 'Excel\'e Aktar',
          exportOptions: {
            columns: ':visible' // Görünür sütunları Excel'e aktar
          }
        },
        {
          extend: 'pdf',
          text: 'PDF\'e Aktar',
          exportOptions: {
            columns: ':visible' // Görünür sütunları PDF'e aktar
          },
          customize: function(doc) {
            doc.content[1].table.body.forEach(function(row) {
              row.splice(6, 1); // PDF çıktısından İşlem sütununu gizle
            });
          }
        }
      ],

      });
   });
   $('#filterInput').on('keyup', function() {
        table.search(this.value).draw();
    });
</script>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Öğrenci Listesi</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ogrenciEkleModal">Öğrenci
        Ekle
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="ogrenciTablosu">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Öğrenci No</th>
                    <th>Durumu</th>
                    <th>Bölüm Adı</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                {% for ogrenci in range(adet) %}
                <tr>
                    <td>{{ ogrenci + 1 }}</td>
                    <td>{{ ogrenci_bilgileri[ogrenci].Adi }}</td>
                    <td>{{ ogrenci_bilgileri[ogrenci].Soyadi }}</td>
                    <td>{{ ogrenci_bilgileri[ogrenci].OgrenciNo }}</td>
                    <td>{{ ogrenci_bilgileri[ogrenci].Durumu }}</td>
                    <td>{{ bolum_isimleri[ogrenci_bilgileri[ogrenci].BolumID - 1] }}</td>
                    <td class="d-flex">
                        <a class="btn btn-primary me-2" href="#" data-toggle="modal"
                            data-target="#detayModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}">Görüntüle</a>
                        <a class="btn btn-success me-2" data-toggle="modal"
                            data-target="#duzenleModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}">Düzenle</a>
                        <a class="btn btn-danger" href="#" data-toggle="modal"
                            data-target="#silModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}">Sil</a>
                    </td>
                </tr>
                <!-- Detay Modal -->
                <div class="modal fade" id="detayModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}" tabindex="-1"
                    aria-labelledby="detayModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detayModalLabel">Öğrenci Detayları</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Öğrenci Adı:</strong> {{ ogrenci_bilgileri[ogrenci].Adi }}</p>
                                <p><strong>Öğrenci Soyadı:</strong> {{ ogrenci_bilgileri[ogrenci].Soyadi }}</p>
                                <p><strong>Öğrenci Numarası:</strong> {{ ogrenci_bilgileri[ogrenci].OgrenciNo }}</p>
                                <p><strong>Durumu:</strong> {{ ogrenci_bilgileri[ogrenci].Durumu }}</p>
                                <p><strong>Bölüm Adı:</strong>
                                    {{ bolum_isimleri[ogrenci_bilgileri[ogrenci].BolumID - 1] }}
                                </p>
                                <p><strong>Kayıt
                                    Tarihi:</strong> {{ ogrenci_bilgileri[ogrenci].KayitTarihi.strftime('%Y-%m-%d') }}
                                </p>
                                {% if ogrenci_bilgileri[ogrenci].AyrilmaTarihi == None %}
                                <p><strong>Ayrılma
                                    Tarihi:</strong>Yok
                                </p>
                                {% else %}
                                <p><strong>Ayrılma
                                    Tarihi:</strong> {{ ogrenci_bilgileri[ogrenci].AyrilmaTarihi }}
                                </p>
                                {% endif %}
                                <p><strong>TC Kimlik No:</strong> {{ ogrenci_bilgileri[ogrenci].TCKimlikNo }}</p>
                                <p><strong>Cinsiyet:</strong> {{ ogrenci_bilgileri[ogrenci].Cinsiyet }}</p>
                                <p><strong>Doğum
                                    Tarihi:</strong> {{ ogrenci_bilgileri[ogrenci].DogumTarihi.strftime('%Y-%m-%d') }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Düzenleme Modal -->
                <div class="modal fade" id="duzenleModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}" tabindex="-1"
                    aria-labelledby="duzenleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="duzenleModalLabel">Öğrenci Düzenle</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post"
                                    action="{{ url_for('ogretmen.ogrenci_duzenle', ogrenci_id=ogrenci_bilgileri[ogrenci].OgrenciID,token=token) }}">
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <input type="hidden" name="kullaniciAdi"
                                        value="{{ ogrenci_bilgileri[ogrenci].OgrenciNo }}">
                                    <div class="mb-3">
                                        <label for="ogrenciAdi" class="form-label">Öğrenci Adı:</label>
                                        <input type="text" class="form-control" id="ogrenciAdi" name="adi"
                                            value="{{ ogrenci_bilgileri[ogrenci].Adi }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="ogrenciSoyadi" class="form-label">Öğrenci Soyadı:</label>
                                        <input type="text" class="form-control" id="ogrenciSoyadi" name="soyadi"
                                            value="{{ ogrenci_bilgileri[ogrenci].Soyadi }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="ogrenciNo" class="form-label">Öğrenci Numarası:</label>
                                        <input type="text" class="form-control" id="ogrenciNo" name="ogrenci_no"
                                            value="{{ ogrenci_bilgileri[ogrenci].OgrenciNo }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="durumu" class="form-label">Durumu:</label>
                                        <select class="form-select" id="durumu" name="durumu">
                                        <option value="Aktif"
                                        {% if ogrenci_bilgileri[ogrenci].Durumu == 'Aktif' %}selected{% endif %}>
                                        Aktif
                                        </option>
                                        <option value="Pasif"
                                        {% if ogrenci_bilgileri[ogrenci].Durumu == 'Pasif' %}selected{% endif %}>
                                        Pasif
                                        </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="bolumID" class="form-label">Bölüm Adı:</label>
                                        <select class="form-select" id="bolumID" name="bolumID">
                                            {% for i in range(bolum_isimleri_form_adet) %}
                                            <option value="{{ bolum_isimleri_form[i].BolumID }}">{{ bolum_isimleri_form[i].BolumAdi }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="kayitTarihi" class="form-label">Kayıt Tarihi:</label>
                                        <input type="text" class="form-control" id="kayitTarihi" name="kayitTarihi"
                                            value="{{ ogrenci_bilgileri[ogrenci].KayitTarihi.strftime('%Y-%m-%d') }}"
                                            >
                                    </div>
                                    {% if ogrenci_bilgileri[ogrenci].Durumu == 'Pasif' %}
                                    <div class="mb-3">
                                        <label for="ayrilmaTarihi" class="form-label">Ayrılma Tarihi:</label>
                                        <input type="text" class="form-control" id="ayrilmaTarihi"
                                            name="ayrilmaTarihi"
                                            value="{{ ogrenci_bilgileri[ogrenci].AyrilmaTarihi }}"
                                            >
                                    </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        <label for="ayrilmaTarihi" hidden="hidden" class="form-label">Ayrılma
                                        Tarihi:</label>
                                        <input type="text" hidden="hidden" class="form-control" id="ayrilmaTarihi"
                                            name="ayrilmaTarihi"
                                            value="{{ ogrenci_bilgileri[ogrenci].AyrilmaTarihi }}"
                                            >
                                    </div>
                                    <div class="mb-3">
                                        <label for="tckimlikNo" class="form-label">TC Kimlik No:</label>
                                        <input type="text" class="form-control" id="tckimlikNo" name="tckimlikNo"
                                            value="{{ ogrenci_bilgileri[ogrenci].TCKimlikNo }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cinsiyet" class="form-label">Cinsiyet:</label>
                                        <select class="form-select" id="cinsiyet" name="cinsiyet">
                                            <option value="Aktif">Erkek</option>
                                            <option value="Pasif">Kadın</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dogumTarihi" class="form-label">Doğum Tarihi:</label>
                                        <input type="text" class="form-control" id="dogumTarihi" name="dogumTarihi"
                                            value="{{ ogrenci_bilgileri[ogrenci].DogumTarihi.strftime('%Y-%m-%d') }}"
                                            >
                                    </div>
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Kapat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sil Modal -->
                <div class="modal fade" id="silModal{{ ogrenci_bilgileri[ogrenci].OgrenciID }}" tabindex="-1"
                    role="dialog" aria-labelledby="silModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="silModalLabel">Öğrenciyi Sil</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Emin misiniz? Bu işlem geri alınamaz!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <a class="btn btn-danger"
                                    href="{{ url_for('ogretmen.ogrenci_sil', ogrenci_id=ogrenci_bilgileri[ogrenci].OgrenciID, token=token) }}">Sil</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Öğrenci Ekle Modalı -->
                <div class="modal fade" id="ogrenciEkleModal" tabindex="-1" aria-labelledby="ogrenciEkleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ogrenciEkleModalLabel">Öğrenci Ekle</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Öğrenci Ekleme Formu -->
                                <form method="post" action="{{ url_for('ogretmen.ogrenci_ekle',token=token) }}">
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <div class="mb-3">
                                        <label for="bolumID" class="form-label">Bölüm Adı:</label>
                                        <select class="form-select" id="bolumID" name="bolumID">
                                            {% for i in range(bolum_isimleri_form_adet) %}
                                            <option value="{{ bolum_isimleri_form[i].BolumID }}">{{ bolum_isimleri_form[i].BolumAdi }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ogrenciNo" class="form-label">Öğrenci No:</label>
                                        <input type="text" class="form-control" id="ogrenciNo" name="ogrenciNo"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="durumu" class="form-label">Durumu:</label>
                                        {#                                            <input type="text" class="form-control" id="durumu" name="durumu" required>#}
                                        <select class="form-select" id="durumu" name="durumu">
                                            {#                                                {% for i in range(bolum_isimleri_form_adet) %}#}
                                            <option value="Aktif">Aktif</option>
                                            <option value="Pasif">Pasif</option>
                                            {#                                                {% endfor %}#}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="adi" class="form-label">Öğrenci Adı:</label>
                                        <input type="text" class="form-control" id="adi" name="adi" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="soyadi" class="form-label">Öğrenci Soyadı:</label>
                                        <input type="text" class="form-control" id="soyadi" name="soyadi" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tckimlikNo" class="form-label">TC Kimlik No:</label>
                                        <input type="text" class="form-control" id="tckimlikNo" name="tckimlikNo"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cinsiyet" class="form-label">Cinsiyet:</label>
                                        {#                                            <input type="text" class="form-control" id="cinsiyet" name="cinsiyet"#}
                                        {#                                                   required>#}
                                        <select class="form-select" id="cinsiyet" name="cinsiyet">
                                            <option value="Aktif">Erkek</option>
                                            <option value="Pasif">Kadın</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dogumTarihi" class="form-label">Doğum Tarihi
                                        (YYYY-MM-DD):</label>
                                        <input type="text" class="form-control" id="dogumTarihi" name="dogumTarihi"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="kayitTarihi" class="form-label">Kayıt Tarihi
                                        (YYYY-MM-DD):</label>
                                        <input type="text" class="form-control" id="kayitTarihi" name="kayitTarihi"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ayrilmaTarihi" class="form-label">Ayrılma Tarihi
                                        (YYYY-MM-DD):</label>
                                        <input type="text" class="form-control" id="ayrilmaTarihi"
                                            name="ayrilmaTarihi">
                                        <small id="ayrilmaTarihiHelp" class="form-text text-muted">
                                        Eğer durum aktifse, bu alanı boş bırakınız.
                                        </small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}