{% extends "base.html" %}
{% block content %}



<script type="text/javascript" src="/static/js/jquery-3.6.4.min.js"></script>

<!-- DataTables Local Files -->
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="/static/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<!-- DataTables Local Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>

<!-- DataTables Buttons CDN -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>


<script>
$(document).ready(function () {
    $.noConflict();

    var table = $('#dersAcmaTablosu').DataTable({
        "dom": '<"top"Blf>rt<"bottom"ip><"clear">',
        "paging": true,
        "ordering": true,
        "searching": true,
        "bDestroy": true,
        "language": {
            "paginate": {
                "previous": "Önceki",
                "next": "Sonraki"
            },
            "search": "Ara:",
            "lengthMenu": "Sayfada _MENU_ kayıt göster",
            "zeroRecords": "Hiçbir sonuç bulunamadı.",
            "info": "Sayfa _PAGE_ / _PAGES_ gösteriliyor",
            "infoEmpty": "Kayıt bulunmuyor",
            "infoFiltered": "(_MAX_ toplam kayıttan süzüldü)"
        },
        "buttons": [
            {
                extend: 'copy',
                text: 'Kopyala',
            },
            {
                extend: 'excel',
                text: 'Excel\'e Aktar',
            },
            {
                extend: 'pdf',
                text: 'PDF\'e Aktar',
            }
        ],
        "columnDefs": [
            { "visible": false, "targets": 4 } // Hide the Ders Donemi column (index 4)
        ],
        "order": [[4, 'asc']], // Order by Ders Donemi
        "drawCallback": function (settings) {
            var api = this.api();
            var rows = api.rows({ page: 'current' }).nodes();
            var last = null;

            api.column(4, { page: 'current' })
                .data()
                .each(function (group, i) {
                    if (last !== group) {
                        $(rows)
                            .eq(i)
                            .before(
                                '<tr class="group"><td colspan="10">' + // Assuming you have 10 columns
                                'Ders Dönemi: ' + group +
                                '</td></tr>'
                            );

                        last = group;
                    }
                });
        }
    });

    $('#dersAcmaTablosu tbody').on('click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if (currentOrder[0] === 4 && currentOrder[1] === 'asc') { // Use the correct column index (4 for Ders Donemi)
            table.order([4, 'desc']).draw();
        } else {
            table.order([4, 'asc']).draw();
        }
    });

});



</script>

    <div class="container mt-5">
        <h1 class="mb-4">Öğretim Elemanı Ders Kayıtları</h1>

 <div class="table-responsive">
        <table class="table table-hover" id="dersAcmaTablosu">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ders Kodu</th>
                    <th>Ders Adı</th>
                    <th>Ders Türü</th>
                    <th>Teorik (T)</th>
                    <th>Uygulama (U)</th>
                    <th>Kredi (K)</th>
                    <th>ECTS</th>
                    <th>Öğrenci Adı</th>
                    <th>Öğrenci Soyadı</th>
                    <th>Öğrenci Numarası</th>
                    <th>Öğrenci Durumu</th>
                </tr>
            </thead>
            <tbody>
    {% for course, course_info in course_student_info.items() %}
        {% for student, ders_alma in course_info.students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ course_info.DersKodu }}</td>
                <td>{{ course_info.DersAdi }}</td>
                <td>{{ course_info.DersTuru }}</td>
                <td>{{ course_info.Teorik }}</td>
                <td>{{ course_info.Uygulama }}</td>
                <td>{{ course_info.Kredi }}</td>
                <td>{{ course_info.ECTS }}</td>
                <td>{{ student.Adi }}</td>
                <td>{{ student.Soyadi }}</td>
                <td>{{ student.OgrenciNo }}</td>
                    <td>{% if ders_alma.Durum == 'Basarili' %}
                        Onaylandı
                    <div class="btn-group">
                <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#reddetModal{{ ders_alma.DersAlmaID }}">Reddet</a>
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#bekletModal{{ ders_alma.DersAlmaID }}">Beklet</a>
            </div>
                    {% elif ders_alma.Durum == 'Basarisiz' %}
                        Reddedildi
                    <div class="btn-group">
                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#onaylaModal{{ ders_alma.DersAlmaID }}">Onayla</a>
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#bekletModal{{ ders_alma.DersAlmaID }}">Beklet</a>
            </div>
                    {% elif ders_alma.Durum == 'Devamsiz' %}
                        Bekliyor

<div class="btn-group">
                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#onaylaModal{{ ders_alma.DersAlmaID }}">Onayla</a>
                <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#reddetModal{{ ders_alma.DersAlmaID }}">Reddet</a>
            </div>                    {% else %}
                        Bilinmeyen Durum
                    {% endif %}</td>
                <!-- Sil Modal -->
                <div class="modal fade" id="onaylaModal{{ ders_alma.DersAlmaID }}" tabindex="-1"
                    role="dialog" aria-labelledby="silModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="silModalLabel">Öğrenciyi Onayla</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Emin misiniz?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <a class="btn btn-danger"
                                    href="{{ url_for('ders-islemleri.ogrenci_onayla', ders_alma_id=ders_alma.DersAlmaID, token=token) }}">Onayla</a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="modal fade" id="reddetModal{{ ders_alma.DersAlmaID }}" tabindex="-1"
                    role="dialog" aria-labelledby="silModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="silModalLabel">Öğrenciyi Reddet</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Emin misiniz?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <a class="btn btn-danger"
                                    href="{{ url_for('ders-islemleri.ogrenci_reddet', ders_alma_id=ders_alma.DersAlmaID, token=token) }}">Onayla</a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="modal fade" id="bekletModal{{ ders_alma.DersAlmaID }}" tabindex="-1"
                    role="dialog" aria-labelledby="silModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="silModalLabel">Öğrenciyi Beklet</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Emin misiniz?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <a class="btn btn-danger"
                                    href="{{ url_for('ders-islemleri.ogrenci_beklet', ders_alma_id=ders_alma.DersAlmaID, token=token) }}">Onayla</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Öğrenci Ekle Modalı -->

            </tr>
        {% endfor %}
    {% endfor %}
</tbody>
        </table>
    </div>

    </div>
{% endblock %}