{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/js/jquery-3.6.4.min.js"></script>
<!-- DataTables Local Files -->
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="/static/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<!-- DataTables Local Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<!-- DataTables Buttons CDN -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#ogretmen_ders_programi').DataTable();
    });
       $(document).ready(function() {
          $('#ogretmen_ders_programi').DataTable({
              "dom": '<"top"Blf>rt<"bottom"ip><"clear">',
             "paging": true,
             "ordering": true,
             "searching": true,
              "bDestroy": true,
              "language": {
                 "paginate": {
          "previous": "Önceki",
          "next": "Sonraki"
        },
                 "search": "Ara:",
        "lengthMenu": "Sayfada _MENU_ kayıt göster",
        "zeroRecords": "Hiçbir sonuç bulunamadı.",
        "info": "Sayfa _PAGE_ / _PAGES_ gösteriliyor",
        "infoEmpty": "Kayıt bulunmuyor",
        "infoFiltered": "(_MAX_ toplam kayıttan süzüldü)"
      },
              "buttons": [
            {
              extend: 'copy',
              text: 'Kopyala',

            },
            {
              extend: 'excel',
              text: 'Excel\'e Aktar',

            },
            {
              extend: 'pdf',
              text: 'PDF\'e Aktar',

            }
          ],

          });
       });



</script>
<div class="container mt-5">
    <h1 class="mb-4">Öğretim Elemanı Ders Programı</h1>
    <div class="table-responsive">


    {% if ders_programlari %}
    <!-- Tablo Kodları (ders_programlari listesi doluysa) -->
<table class="table table-bordered" id="ogretmen_ders_programi">
    <thead>
        <tr>
            <th class="text-center">Saat/Gün</th>
            {% for gun in gunler %}
                <th class="text-center">{{ gun }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for saat in ders_saatleri %}
            <tr>
                <td class="text-center">{{ saat }}:00</td>
                {% for gun in gunler %}
                    <td class="text-center">
                        {% set ders_bulundu = false %}
                    
                        {% for ders_programi in ders_programlari %}
                            {% if ders_programi[4] == gun and ders_programi[5]|string == saat %}
                                {{ ders_programi[0] }} - {{ ders_programi[1] }}<br>
                                {{ ders_programi[6] }} - {{ ders_programi[7] }}<br>
                                {% if ders_programi[2] > ders_programi[3] %} Teorik {% endif %}
                                {% if ders_programi[3] >= ders_programi[2] %} Uygulama {% endif %}
                                {% set ders_bulundu = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not ders_bulundu %}

                            <!-- Ders bulunamadığında gösterilecek mesaj -->
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
    <!-- Ders bulunamadığında gösterilecek mesaj -->
    <p>Ders bulunamadı.</p>
{% endif %}

    </div>
</div>
{% endblock %}